
.hero {
  position: relative;
  text-align: center;
  color: white;
  font-family: var(--heading-font-family);
  padding: 50px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('http://localhost:3000/media_130caeffab8d677fb89a187ed8ca38006ab71fc60.jpeg?width=750&format=jpeg&optimize=medium') no-repeat center center/cover;
}

.hero-inner {
  position: relative;
  z-index: 1;
  max-width: 800px;
}

.hero-picture {
  display: none; /* Hide the picture */
}

.hero-image {
  display: none; /* Hide the image */
}

.hero-introduction {
  margin: 0;
  font-size: var(--heading-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-headline {
  margin: 10px 0;
  font-size: 3em;
  line-height: 1.2;
  font-weight: normal;
}

.hero-headline strong {
  font-weight: bold;
}

.hero-headline em {
  font-style: italic;
}

.hero-explore {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  z-index: 2;
}
